VITE_SUPABASE_URL=https://mszoafecjizzipfanyxc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1zem9hZmVjaml6emlwZmFueXhjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMyMDAxODAsImV4cCI6MjA4ODc3NjE4MH0.SRBq1FQaELYS4GKdBiqdtXmk-d7u5ktp89qEk2vxjJw
